#page{
  background-color: #fff;
}

#jing-fong-menu {
  font-size: 40px;
  text-align: center;
  color: red;
  padding: 40px 0px;
  font-family: Arial, Helvetica, sans-serif
}

#page p {
  text-align: center;
  margin-bottom: 20px;
}

#page a {
  text-decoration: none;
  font-size: 20px;
}

.menu-page {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  padding: 50px 10px 10px 0px;
}

.menu-column {
  max-width: 610px;
  width: 100%;
  padding: 10px;
}

.menu-column h2{
  font-size: 24px;
  text-align: center;
  color: red;
  font-weight: bold;
}

.menu-column h2 span {
  font-size: 18px;
}

.spicy {
  color: red;
}

.section ul {
  margin-top: 10px;
  padding: 15px;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

li span { 
  font-size: 15px;
  line-height: 2;
}

li span:first-child {
  flex-basis: 80%;
}

li span:last-child {
  text-align: right;
  flex-basis: 20%;
}

.dotted {
  border: 5px dotted red;
  padding: 0px 10px;
  margin-bottom: 20px;
  padding-top: 12px;
}

.dotted h2 {
  margin-bottom: 12px;
}

#diet {
  border: solid 1px red;
  padding: 5px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.menu-column :nth-child(4) div {
  text-align: center;
  color: red;
  font-size: 18px;
}

.menu-column:nth-of-type(2) :nth-child(2) div,
.menu-column:nth-of-type(2) :nth-child(6) div,
.menu-page:nth-of-type(2) :nth-child(5) div,
#combo-dinner div {
  text-align: center;
  color: red;
  font-size: 18px;
}

.section {
  margin-bottom: 20px;
}

.combo {
  line-height: 1;
  margin-bottom: 12px;
}

.ingredients{
  color: rgb(13, 117, 13);
  font-size: 16px;
}

#chefs-special {
  background-color: rgb(249, 234, 236);
}

#chefs-special h2 {
  background-color: red;
  color: white;
  font-size: 20px;
  height: 40px;
}

#chefs-special li span {
  line-height: 2.5;
}

#chefs-special div {
  margin-top: 5px;
  text-align: center;
  color: red;
  font-size: 18px;  
}

#special-combo h2 {
  font-size: 40px;
}

#combo-dinner {padding: 10px;
  border: solid 1px red;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

#combo-dinner h2 {
  font-size: 40px;
}

#combo-dinner li span {
  line-height: 1;
  margin-bottom: 20px;
}

#combo-dinner li span:first-child {
  flex-basis: 10%;
}

#combo-dinner li span:nth-child(2) {
  flex-basis: 70%;
} */

 #combo-dinner li span:last-child {
  flex-basis: 5%;
}

li span:last-child {
  text-align: right;
  flex-basis: 20%;
}

@media screen and (max-width: 425px) {
  #combo-dinner li span:first-child {
    flex-basis: 30%;
  }  
}

@media screen and (min-width: 768px) {
  li span{
    font-size: 22px;
  }
}

@media screen and (min-width: 550px) {
  #chefs-special h2 {
    font-size: 40px;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  background-color: white;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.buttons li {
  margin: 5px;
}

.buttons button {
  border: none;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
}

.buttons button:hover {
  background-color: #555;
}

.section-highlight {
  background-color: #ffffcc;
  transition: background-color 1s ease-out;
}