.restaurant-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.restaurant-image {
    margin-bottom: 30px;
    max-width: 90%;
}

.restaurant-image img {
    max-width: 100%;
    height: auto;
}

.restaurant-description {
    max-width: 80%;
    text-align: center;
}

.restaurant-description h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.restaurant-description p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    font-family: "Helvetica Neue", sans-serif;
}

.restaurant-description h2 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}


.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin-bottom: 50px;
}
  

  @media screen and (max-width: 768px) {
    .map-container iframe {
      width: 500px;
      height: 300px;
    }
  }
  
  @media screen and (min-width: 769px) {
    .map-container iframe {
      width: 700px;
      height: 500px;
    }
  }